projet1-recherche.zip
**/__pycache__/
.pytest_cache/
.vscode/
**/rapport.aux
**/rapport.log
**/rapport.out
**/rapport.toc
**/rapport.fdb_latexmk
**/rapport.fls
**/rapport.synctex.gz
**/mnist_test.csv
**/mnist_train.csv
.venv